@model BTLWEB.Models.TaiKhoan

@{
    ViewData["Title"] = "DeleteTaiKhoan";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<body style="padding: 300px">
    <div class="container">
        <div class="row">
            <div class="col-8 text-capitalize"><h1>Xác nhận xóa</h1></div>
            <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col-8">
                <h3>Bạn có chắc chắn muốn xóa tài khoản này không?</h3>
                <br />
                <div>
                    <h4>Tên tài khoản: @Model.TenDangNhap</h4>
                    <br />
                    <br />
                    <div>
                        <form asp-controller="TaiKhoan" asp-action="DeleteTaiKhoan" asp-route-id="@Model.Id" method="post">
                            <input type="submit" value="Xóa" class="btn btn-danger btn-outline-dark" />
                            <br />
                            <br />
                            <a asp-action="QlTK">Quay lại danh sách</a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-4">
            </div>
        </div>
    </div>
</body>
